<div  [appProtected]="true">
<mat-toolbar color="accent">

  <button mat-button [matMenuTriggerFor]="menu">Совет</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['simpleAdvice']" >...простой</button>
    <button mat-menu-item [routerLink]="['ingAdvice']">...по ингредиентам</button>
  </mat-menu>

  <a mat-button [routerLink]="['allrecipes']">Все рецепты</a>
  <a mat-button [routerLink]="['newrecipe']">Добавить рецепт</a>
  <span class = "spacer"></span>
  <span >Сейчас голодает {{user.username}}</span>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>
</div>
