.card {
  position: absolute;
  top: 150px;
  left: 350px;
  width: auto;
  min-width: 200px;
  max-width: 400px;
  background: #f2f0f0;
}
.mat-icon {
  font-size: 20px;
}
.header {
  font-weight: bold;
}

