.type-container {
  position: absolute;
  top: 125px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: #eee;
}
.type-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: #dadada;;
}

.recipe-container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: #eee;
}

.recipe-sidenav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 200px;
  max-width: 500px;
  background: #dadada;
}

.header{
  text-align: center;
}

.types{
  width: 100%;
}
