<mat-sidenav-container class ='type-container'>
  <mat-sidenav mode="side" opened class="type-sidenav">
    <h4>Типы блюд</h4>
    <mat-list>
      <mat-list-item *ngFor="let type of allTypes">
       <button mat-button (click)="showRecipeNames($event)" value = '{{type.name}}'>{{type.name}}</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-sidenav-container class ='recipe-container'>
      <mat-sidenav #recipesnav mode="side"  class="recipe-sidenav">
       <h4>Ищем: {{selectedType}}</h4>
        <mat-list-item *ngFor="let name of recipeNames">
          <button mat-button (click)="showRecipe($event)" value = '{{name}}'>{{name}}</button>
        </mat-list-item>
      </mat-sidenav>
      <mat-sidenav-content>
        <h4>Карточка выбранного блюда</h4>
        <app-recipe-card *ngIf="sekectedRecipe" [recipe]="sekectedRecipe"></app-recipe-card>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </mat-sidenav-content>
</mat-sidenav-container>

