
<mat-form-field>
  <mat-label>Тип</mat-label>
  <mat-select  (selectionChange)="emitType( $event )" required [formControl]="typeControl">
    <mat-option *ngFor="let type of allTypes" [value]="type.name">
      {{type.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="typeControl.invalid">{{ getErrorMessage() }}</mat-error>
</mat-form-field>
<button mat-button matTooltip="Добавить новый тип" (click)="showAddTypeField()">
  <mat-icon>add_circle</mat-icon>
</button>
<span *ngIf="addTypeField">
    <mat-form-field>
      <mat-label>Новый тип</mat-label>
      <input matInput [(ngModel)]="newType">
    </mat-form-field>
  <button mat-button (click)="addType()" *ngIf="newType"><mat-icon>done</mat-icon></button>
  <span *ngIf = "message">{{message}}</span>
</span>
<mat-error *ngIf="networkProblem">Похоже проблемы с сервером или интернетом</mat-error>


