.card {
  position: absolute;
  top: 30%;
  left: 25%;
  width: auto;
  max-width: 400px;
}
.header{
  position: relative;
  left: 30px;
}
.typeform{
  position: relative;
  left: 50px;
}

.adviceButton{
  position: relative;
  left: 50px;
}


