
<div class="wrapper">

  <mat-card class="login-card">
    <mat-tab-group class="form-tab-group" [dynamicHeight]="true">
      <mat-tab label="Вход">
        <div class="form-wrapper">
          <mat-form-field>
            <input matInput placeholder="Логин" [(ngModel)]="user.username">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Пароль" [(ngModel)]="user.password">
          </mat-form-field>
          <mat-error>{{loginErrorMessage}}</mat-error>
          <button mat-raised-button color="primary" (click)="login()">Войти</button>
         </div>
      </mat-tab>

      <mat-tab label="Регистрация">
        <div class="form-wrapper">
          <mat-form-field>
            <input matInput placeholder="Логин" [(ngModel)]="userReg.username">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Пароль" id="pass" [(ngModel)]="userReg.password">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Повторите пароль" id="pass-repeat" [(ngModel)]="repeatPass" [pattern]="userReg.password">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="E-mail" id="email" [(ngModel)]="userReg.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="register()">Зарегистрироваться</button>
          <mat-error>{{registerErrorMessage}}</mat-error>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
