
<form>
  <mat-form-field>
  <mat-label>Название</mat-label>
  <input matInput [formControl]="nameForm">
  <mat-error *ngIf="nameForm.errors?.required">Рецепту нужно название</mat-error>
  <mat-error *ngIf="nameForm.errors?.uniqueName">Рецепт с этим именем уже есть</mat-error>
  </mat-form-field>

<div>
  <app-type-field #typeField (getType)="getType( $event )"></app-type-field>
</div>

<div >
  <mat-form-field >
    <mat-label>Описание</mat-label>
    <label>
<textarea matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          [(ngModel)]="description"
          name = "desc"
></textarea>
    </label>
  </mat-form-field>
</div>

<div >
  <app-ingredients-field  #ingField    (getIngs)="getIngredients( $event )"></app-ingredients-field>
</div>

<div>
  <app-rating-field #ratingField (getRating)="getRating($event)"></app-rating-field>
</div>
<button mat-button (click)="addRecipe()" *ngIf="!(nameForm.invalid||(!type)||(ingredients.length===0))" >
  Добавить
</button>
  <div *ngIf="message">{{message}}</div>
</form>

